<div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div style="height: 150px; overflow: hidden; border: none; cursor: pointer;">
                    <canvas width="720" height="150" data-bind="click: chooseRandomColor"
                        id="canvas"></canvas>
                </div>
                <hr/>
                <div class="card-body">
                    <div class="text-info">
                        <small>
                            May 2019
                        </small>
                    </div>
                    <h1 class="card-title">
                        Sine Function
                    </h1>
                    <p class="card-text">
                        <strong>This is my first visualization ever.</strong> For this memorable event I had to choose a
                        function, a of the sine function using just JavaScript and a Canvas object.
                    </p>
                    <p>
                        You can reset the canvas or choose a random color using the below controls.
                    </p>
                    <p>
                        This days I've been doing some research about the potencial of the html canvas and I've found
                        very intereseting tricks.
                        
                        For instance there are some methods which you can use to display text and to
                        manipule the font style. Theses methods open the posibility to create a highly customizable UI.
                    </p>
                    <p>
                        In this case I'd like to use this possibility to start the creation of a simple game which, in
                        the future, I'd like to evolve
                        into more complex game.
                        <strong>So stay tune</strong> and let me know your comments and suggestions.
                    </p>
                    <p>
                        Of course before I could think about any real game I have to learn a lot about circles,
                        triangles, paths,
                        2D, and 3D, transformations.
                    </p>
                    <div class="" role="group" aria-label="Canvas Actions">
                        <button data-bind="click: resetCanvas" type="button" class="btn btn-secondary">Reset</button>
                        <button data-bind="click: chooseRandomColor" type="button" class="btn btn-secondary">Random
                            Color</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>