<div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body" id='visualizations/01'>
                    <h2>Screen saver</h2>
                    <section>
                        <div style="overflow: auto;">
                            <canvas id='circle-canvas' width="1280" height="720">
                            </canvas>
                        </div>
                        <div>
                            <button data-bind="click: start">Play</button>
                            <button>Pause</button>
                            <button>Reset</button>
                            <button data-bind='text:fullScreenText, click:onFullScreen'>Fullscreen</button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>