<div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body" id='visualizations/01'>
                    <h2>Circle Modulus</h2>
                    <section>
                        <canvas id='circle-canvas' width="640" height="480">

                        </canvas>
                        <div>
                            <button data-bind="click: start">Play</button>
                            <button>Pause</button>
                            <button>Reset</button>
                            <button data-bind='text:fullScreenText, click:onFullScreen'>Fullscreen</button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>