<div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body" id='visualizations/01'>
                    <h2>Screen saver</h2>
                    <section>
                        <div>
                            <button id='full-screen-button'>Fullscreen</button>
                        </div>
                        <div style="overflow: auto;">
                            <canvas id='circle-canvas' width="3072" height="1920" style="background-color: black;">
                            </canvas>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>