<div>
    <div class="card">

        <img src="./app/resources/images/mocka_02_xs.png"
            class="card-img-top  mx-auto d-block"
            style="width: 30%"
            alt="Mocka!">   
        <div class="card-body">
            <h1 class="card-title">
                About
            </h1>
            <p>
                Mi name is Jacob Lobaco, I'm a Principal member of the Technicall Staff at Oracle.
                I've been working with Java and web technologies for more that 10 years and currently I'm working in the
                APEX
                team in Oracle.
            </p>
            <p>
                If you like this page or if your have any comment, or suggestion follow me on LinkedIn and
                <strong>drop me a
                    note</strong>.<br />
                <a href="https://www.linkedin.com/in/jacoblb/" target="_blank">
                    https://www.linkedin.com/in/jacoblb/
                </a>
            </p>
        </div>
    </div>
</div>