<div>
    <h1>Apex</h1>
    <div class="card">
        <div class="card-body">
            <h2>
                Create a new plugin
            </h2>
            <pre>

                    procedure render (
                        p_item   in            apex_plugin.t_item,
                        p_plugin in            apex_plugin.t_plugin,
                        p_param  in            apex_plugin.t_item_render_param,
                        p_result in out nocopy apex_plugin.t_item_render_result )
                    is
                    
                        c_div varchar2(100) := '&lt;div id=&quot;div-id&quot;&gt;&lt;/div&gt;';
                        
                    begin
                        
                        htp.prn(c_div);
                        
                        apex_javascript.add_onload_code (
                            p_code =&gt; 'apexPlugin.init({id: &quot;' || p_item.name || '&quot;});',
                            p_key  =&gt; 'jetInputNumber' );
                      
                    end render;
                 
            </pre>
        </div>
    </div>
</div>