<div>
    <div>


        <div class="card">
            <div class="card-body">
                <h2 class="card-title">
                    June 2019 update
                </h2>
                <p>
                    I've been very busy these days at work, also I got the flue this last week so I couldn't work as I
                    would like to this month.
                    However the first two weeks of the month I made a very good progress to integrate the UI for my next
                    game with two great tools:
                    <ul>
                        <li>
                            Oracle APEX
                        </li>
                        <li>
                            Google Application Engine
                        </li>
                    </ul>
                </p>
                <h3>
                    Oracle APEX
                </h3>
                <p>
                    Oracle APEX is an amazing tool which can be used to generate entire web applications using just an
                    Oracle
                    database.
                    Let's say that you have a regular dabase table called Providers, well you can import that table into
                    APEX and
                    APEX will generate an entire, fully operational, and almost ready-to-production Web Application
                    with the basic functionality that any profesional application <em>must</em> have:
                    <ul>
                        <li>
                            Login Page
                        </li>
                        <li>
                            Signup Page
                        </li>
                        <li>
                            Users Administration
                        </li>
                        <li>
                            User's Roles
                        </li>
                        <li>
                            Security
                        </li>
                        <li>
                            Dynamic Reports
                        </li>
                        <li>
                            Charts
                        </li>
                        <li>
                            Rest Services
                        </li>
                        <li>
                            <a href="https://apex.oracle.com/en/">
                                And more...
                            </a>
                        </li>
                    </ul>
                    <em>Isn't that cool?</em>
                </p>
                <p>
                    I will use Oracle APEX as the datasource of my game, so here I plan to store the information related
                    to the status of the game,
                    the actions and the evaluation of the actions available to the players. Another excellent point to
                    consider is that it is completely free
                    to start working with Oracle APEX, you just have to go to <a
                        href="https://apex.oracle.com/en/">APEX</a> and follow the instructions to get
                    your free workspace to start working with.
                </p>
                <p>
                    Oracle APEX has been aroung since 2004 (formerly know HTML DB), so now it is a very stable product
                    and, according
                    to
                    what I've been told, it is a very popular product in Europe and Middle East.
                </p>
                <p>
                    One of its main characteristics is that APEX is highly integrated with the Oracle Database, so if
                    you
                    are using any version of Oracle DB you must be learning about APEX.
                </p>
                <h3>
                    Google Application Engine for Java
                </h3>
                <p>
                    <a href="https://github.com/GoogleCloudPlatform/appengine-try-java">Google Application Engine (GAP)
                        </a>for Java is the Google Cloud Solution for application development. With this tool I was able to run my
                    Java code for my game and expose it as a Rest Service using Spring MVC.
                </p>
                <p>
                    I chose GAP because it is free to start develop, it is no necessary to introduce your credit card
                    nor any other payment method and you
                    can run any Servlet technologie into your container without any restrictions. So it is possible to
                    deploy your EJB and, as in my case,
                    any Spring application.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">
                    May 2019 update
                </h2>
                <h3>Wellcome to my home page</h3>
                <p>
                    This is going to be the home of my personal projects.
                    I really hope you enjoy your visit.
                    In the near future I will be posting about my personal projects
                    and anything interesting I find out there. So stay in touch.
                </p>
                <p>
                    I've found really interesting possibilities about hosting just HTML and Javascript
                    in Github pages. <br />
                </p>
                <p>
                    At this moment the first thing that I'm playing with is the ability to create a Single Application
                    Page (SPA) using only Javascript code.
                </p>
                <p>
                    My first experiment will be about using RequireJs and KnockoutJs to build a "Typing Tool". <br />
                    This "Typing Tool" is a small application written only with HTML, and a little bit of KnockoutJS.
                </p>
                <p>
                    Click on <em>Tools</em> then click on the <em>Typetool</em> menu item, <a data-bind="click: function(){
                                                        return navigate('typetool');
                                                    }" href="#typetool">or just follow this link</a>.
                </p>
                <p>
                    If you like this page or if your have any comment, or suggestion follow me on LinkedIn and
                    <strong>drop me a
                        note</strong>.<br />
                    <a href="https://www.linkedin.com/in/jacoblb/" target="_blank">
                        https://www.linkedin.com/in/jacoblb/
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>