<div id='type-tool-container'>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Typetool</h1>
                        <h2>
                            Use this tool to improve your memory and your typing skills.
                        </h2>
                        <div class="row">
                            <div data-bind="css: {'col-md-4': !showTargetInput(), 'col-md-6' : showTargetInput()}">
                                <div class="">
                                    <textarea wrap="off" rows="20" class="card-img-top form-control" style=""
                                        placeholder="Paste some content here..."
                                        data-bind="textInput: target, css: {'j-hidden': !showTargetInput()}"></textarea>
                                    <div class="card-body">
                                        <p class="card-text text-muted">
                                            Lenght: <span data-bind="text: target().length"></span> characters.
                                        </p>
                                        <hr />
                                    </div>
                                </div>
                            </div>
                            <div data-bind="css: {'col-md-8': !showTargetInput(), 'col-md-6' : showTargetInput()}">
                                <div class="">
                                    <textarea wrap="off" autofocus="autofocus" id="typein" data-bind="textInput: input"
                                        rows="20" class="form-control card-img-top "
                                        placeholder="Type in here..."></textarea>
                                    <div class="card-body">
                                        <p class="card-text">
                                            Correct: <span data-bind="text: correctCount()"></span> of <span
                                                data-bind="text: input().length"></span> characters.
                                            <i data-bind="visible: isInputCorrect()" class="fa fa-check"
                                                style="color: green"></i>
                                        </p>
                                        <hr />
                                        <div class="btn-group justify-content-between">
                                            <button data-bind="click: showLeftPanel" type="button"
                                                class="btn btn-secondary">Show Left
                                                Panel</button>
                                            <button data-bind="click: clearInput" type="button"
                                                class="btn btn-secondary">Clear</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p>
                            Copy the content on the left side of the screen and type it in the right
                            side component.
                            <em>Check your stats
                                and beat yourself!</em>
                        </p>
                        <p>
                            Whenever you start typing in the right side the left side will be hidden. If you want to
                            show it again just
                            click in the Show Left Panel button.
                        </p>
                        <p>

                            Clear the left side panel and refresh the page to get the initial text
                            back.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>