<div>
    <h1>Typetool</h1>
    <h2>
        Use this tool to improve your memory and your typing skills.
    </h2>
    <p>
        Whenever you start typing in the right side the left side will be hidden. If you want to show it again just
        click in the Show Left Panel button.
    </p>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">

                    <textarea wrap="off" rows="20" class="card-img-top form-control"
                        style="border: none"
                        placeholder="Paste some content here..."
                        data-bind="textInput: target, css: {'j-hidden': !showTargetInput()}"></textarea>
                    <div class="card-body">
                        <p class="card-text text-muted">
                            Lenght: <span data-bind="text: target().length"></span> characters.
                        </p>
                        <button data-bind="click: showLeftPanel" type="button" class="btn btn-secondary">Show Left
                            Panel</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <textarea wrap="off" autofocus="autofocus" id="typein" data-bind="textInput: input" rows="20"
                        class="form-control card-img-top " placeholder="Type in here..."></textarea>
                    <div class="card-body">

                        <p class="card-text">
                            Correct: <span data-bind="text: correctCount()"></span> of <span
                                data-bind="text: input().length"></span> characters.
                            <i data-bind="visible: isInputCorrect()" class="fa fa-check" style="color: green"></i>
                        </p>
                        <button data-bind="click: clearInput" type="button" class="btn btn-secondary">Clear</button>
                    </div>

                </div>



            </div>
        </div>
    </div>

    <p class="text-info">
        * Copy the content on the left side of the screen and type it in the right side component. <em>Check your stats
            and beat yourself!</em>
    </p>
    <p class="text-info">
        * Clear the left side panel and refresh the page to get the initial text back.
    </p>
</div>