<div class="card blog-entry">
    <div class="card-body">
        <h1 class="card-title">
            Vida
        </h1>
        <h6 class="card-subtitle mb-2 text-muted">
            22 de mayo, 2022
        </h6>
        <p class="card-text">
            Sentandome a escribir por primera vez desde hace mucho tiempo. <br>
            Adjunto foto de Pavlova durmiendo a mi lado para conmemorar el evento.
        </p>
        <div class="text-center">
            <img class="rounded" src="/resources/images/pavlova-01.jpg" alt="Pavlova durmiendo a mi lado" width="500">
        </div>
        <p class="card-text">
            Espero que todos estén bien.
        </p>
    </div>
</div>
