<canvas id='canvas' height="300" width="300">

</canvas>
<div class="card">
    <div class="card-body">
        <button class="btn btn-primary" data-bind="click:function(){
                $root.setDirection(3);
            }">
            Left
        </button>
        <button class="btn btn-primary" data-bind="click:function(){
            $root.setDirection(2);
        }">
            Down
        </button>
        <button class="btn btn-primary" data-bind="click:function(){
            $root.setDirection(0);
        }">
            Up
        </button>
        <button class="btn btn-primary" data-bind="click:function(){
            $root.setDirection(1);
        }">
            Right
        </button>
        <button class="btn btn-primary" data-bind="click:reload">
            Reload
        </button>
    </div>
</div>