<div>
    <div class="jumbotron">
        <h1 class="display-4">Yet Another Coup Clone</h1>
        <p class="lead">
            This is the country where you live: YACC
        </p>
        <hr class="my-4">
        <p>
            Your country is ruled by a small group of people who control all the resources,
            the proverty and the missery is now a daily thing in your world.
            You, as an inflitrate, have an opportunity to topple the the goverment but you
            may need to bluff and lie. There is no room to fail.
        </p>
        <p class="lead">
            <a
                class="btn btn-primary btn-lg"
                data-bind="navigate: 'games/myGames'"
                href="#games/myGames" role="button">Play now</a>
        </p>
    </div>
</div>